<div class="container px-5">
  <div class="row m-5">
    <div class="col-md-10 bg-white shadow rounded mx-auto py-3 px-5">
      <% if @post.errors.any? %>
              <%= @post.errors.count %>件のエラーが発生しました
              <ul>
                  <% @post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
              </ul>
            <% end %>
      <%= form_with model: @post, url: posts_path, method: :post do |f| %>
        <h5 class ="form-group font-weight-bold text-center">旅登録</h5>
        <%= render 'form', f: f %>
        <div class="row mt-5">
    　   　<%= f.submit "保存", class:"btn btn-primary mx-auto px-5" %>
  　   　</div>
      <% end %>
    </div>
  </div>
  <div class="row my-5 px-5">
    <%= link_to :back, class: "text-primary" do %>
      <i class="fas fa-arrow-circle-left fa-2x" style="color: primary"></i>
    <% end %>
  </div>
</div>