<div class="container px-5">
  <h4 class="font-weight-bold text-center mt-5">旅の詳細</h4>
  <div class="row m-5">
    <div class="col-md-10 bg-white shadow rounded mx-auto py-3 px-5">
      <div class="row mb-3">
        <h5 class="font-weight-bold mr-auto"><%= @post.title %></h5>
        <% if  current_user.email != 'guest@example.com' %>
        <% if current_user&.id == @post.user.id %>
          <% if @post.status? %>
          <h5 class="font-weight-bold text-success border-success ml-auto">公開</h5>
          <% else %>
          <h5 class="font-weight-bold text-danger border-danger ml-auto">非公開</h5>
          <% end %>
        <% else %>
        <%= link_to 'レビュー', post_reviews_path(@post.id), class: "btn rounded btn-success ml-auto text-white" %>
        <% end %>
        <% end %>
      </div>
      <div class="row mb-3">
        <% if @post.image.present? %>
        <%= image_tag @post.image, size: "400x220" %>
        <% else %>
        <%= image_tag 'no_travel_image', size: "400x220" %>
        <% end %>
      </div>
      <div class="row border-bottom">
        <% if @post.user.profile_image.present? %>
        <%= image_tag @post.user.profile_image, class: "rounded-circle border", size: "50x50" %>
        <% else %>
        <%= image_tag 'no-image.jpg', class: "rounded-circle border", size: "50x50" %>
        <% end %>
        <p class="font-weight-bold mx-4 mt-3"><%= @post.user.name %></p>
        <p class="mx-4 mt-3">
          <i class="fas fa-map-marker-alt"></i>
          <%= Post.locations_i18n[@post.location] %>
        </p>
        <p class="mx-4 mt-3"><%= @post.date_display %></p>
        <% if @post.user.id == current_user&.id %>
          <%= link_to '編集', edit_post_path(@post.id), class: "btn border-primary rounded btn-white ml-auto text-primary my-3" %>
        <% end %>
      </div>
      <div class="col-md-12 my-4">
        <% @post_details.each do |post_detail| %>
        <div class="row">
          <% if post_detail.image.present? %>
          <%= image_tag post_detail.image, class: "mx-auto post_image" %>
          <% else %>
          <%= image_tag 'no_travel_image', size: "400x220", class: "mx-auto" %>
          <% end %>
        </div>
          <div class="row">
            <h6 class="font-weight-bold mx-2"><%= post_detail.spot_name %></h6>
            <p class="mx-2"><%= post_detail.visit_time.strftime("%-H:%M") %></p>
            <% if @post.user.id == current_user&.id %>
            <%= link_to '編集', edit_post_post_detail_path(@post.id,post_detail.id), class: "btn border-primary rounded btn-white ml-auto text-primary" %>
            <% end %>
          </div>
          <div class="row mx-auto border-bottom">
            <p><%=safe_join(post_detail.impre.split("\n"),tag(:br))%></p>
          </div>
        <% end %>
      </div>
      <% if @post.user.id == current_user&.id %>
      <div class="row mt-3">
        <div class="col-md-11 mx-auto">
          <%= form_with model: [@post, @post_detail], method: :post do |f| %>
          <h5 class ="form-group font-weight-bold text-center">旅ルート登録</h5>
          <%= render 'public/post_details/form', f: f %>
          <div class="row mt-5">
    　　　　<%= f.submit "保存", class:"btn btn-primary mx-auto px-5" %>
  　　　   　</div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row m-5">
    <div class="col-md-10 bg-white shadow rounded mx-auto py-3 px-5">
      <div class="form-inline border-bottom border-primary my-3 ">
        <%= form_with model:[@post, @comment], method: :post do |f| %>
        <div class="form-group mb-4">
          <%= f.text_field :detail, class: "form-control mr-5", placeholder: "コメントを書く", :size => "43*30" %>
          <%= f.submit "送信", class:"btn btn-primary px-4 mr-auto" %>
        </div>
        <% end %>
      </div>
      <% @comments.each do |comment| %>
      <div class="container border-bottom">
      <div class="row">
        <%= image_tag comment.user.profile_image, class: "rounded-circle border my-auto", size: "30x30" %>
        <p class="font-weight-bold ml-4 my-auto"><%= comment.user.name %></p>
      </div>
      <div class="row mt-3">
        <p class="ml-5"><%= comment.detail %></p>
      </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row my-5 px-5">
    <%= link_to :back, class: "text-primary" do %>
    <i class="fas fa-arrow-circle-left fa-2x" style="color: primary"></i>
    <% end %>
  </div>
</div>