<div class="container px-5">
  <div class="row m-5">
    <div class="col-md-10 bg-white shadow rounded mx-auto py-3 px-5">
      <%= form_with model: @post, url: admin_post_path, method: :patch do |f| %>
        <h5 class ="form-group font-weight-bold text-center">旅編集</h5>
        <div class="form-group mb-0">
          <p class="text-dark mb-0 mt-4">旅トップ画像</p>
          <%= f.file_field :image, accept: "image/*", class: "mr-auto" %>
        </div>
        <div class="form-group mb-0 mt-4">
          <%= f.radio_button :status, 'true' %>
          <%= f.label :status, '公開', value: true %>
          <%= f.radio_button :status, 'false' %>
          <%= f.label :status, '非公開', value: false %>
        </div>
        <div class="form-group mb-0">
          <p class="text-dark mb-0 mt-4">タイトル</p>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group mb-0">
          <p class="text-dark mb-0 mt-4">場所</p>
          <%= f.select :location, Post.locations.keys.map {|k| [I18n.t("enums.post.location.#{k}"), k]} %>
        </div>
        <div class="form-group">
          <p class="text-dark mb-0 mt-4">日付</p>
          <%= f.text_field :date %>
        </div>
        <div class="form-inline mt-5">
        <div class="form-group mx-auto">
    　　　　<%= f.submit "変更を保存", class:"btn btn-success mr-3" %>
    　　　　<%= link_to "　削除　", admin_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger ml-3" %>
  　　　　</div>
  　　　　</div>
  　　　　<% end %>
      </div>
    </div>
  </div>