<div class="form-group mb-0">
  <p class="text-dark mb-0 mt-2">旅画像</p>
  <%= f.file_field :images, multiple: true, accept: "image/*", class: "mr-auto", data: { images_target: "select", action: "change->images#selectImages" } %>
</div>
<div data-images-target="preview">
  <% if @post_detail.images.attached? %>
    <% @post_detail.images.each do |image| %>
      <div class="image-box inline-flex mx-1 mb-5" data-controller="images" data-images-target= "image_box">
        <div class="text-center">
          <%= image_tag image, width: "100" %>
          <a class="link cursor-pointer" data-action="click->images#deleteImage">削除</a>
          <%= f.hidden_field :images, name: "post[images][]", style: "display: none", value: "#{image.blob.id}" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="form-group mb-0">
  <p class="text-dark mb-0 mt-2">スポット名</p>
  <%= f.text_field :spot_name, class: "form-control" %>
</div>
<div class="form-group mb-0">
  <p class="text-dark mb-0 mt-2">住所</p>
  <%= f.text_field :address, autofocus: true,placeholder: "住所を入力してください", class: "form-control" %>
</div>
<div class="form-group mb-0">
  <p class="text-dark mb-0 mt-2">時間</p>
  <%= f.datetime_field :visit_time %>
</div>
<div class="form-group">
  <p class="text-dark mb-0 mt-2">ヒトコト　感想</p>
  <%= f.text_area :impre, class: "form-control" %>
</div>