<div class="container">
  <h4 class="font-weight-bold text-center my-5"></h4>
  <div class="col-md-10 col-sm-12 bg-white shadow rounded mx-auto py-3 px-5">
  <div class="row mx-auto mt-3">
      <h5 class="font-weight-bold mr-auto"><%= @post_detail.address %></h5>
  </div>
  <div class="row mx-auto">
<div id="map" class="mx-auto"></div>

            <style>
            #map{
              height: 400px;
              width: 620px;
              }
            </style>
<script type="text/javascript">
  function initMap(){
    // 地図の位置情報(緯度・経度)を取得
    let mapPosition = {lat: <%= @post_detail.latitude.presence || 0 %> , lng: <%= @post_detail.longitude.presence || 0 %> };
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: mapPosition
    });
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    let contentString = '【住所】<%= @post_detail.address %>';
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    let marker = new google.maps.Marker({
      position: mapPosition,
      map: map,
      title: contentString
    });

    marker.addListener('click', function(){
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
</div>
</div>


  <div class="row my-5 px-5">
    <%= link_to :back, class: "text-primary" do %>
      <i class="fas fa-arrow-circle-left fa-2x" style="color: primary"></i>
    <% end %>
  </div>
</div>