<div class="container px-5">
  <div class="row m-5">
    <div class="col-md-10 bg-white shadow rounded mx-auto py-3 px-5">
    <%= form_with model: @user, url: users_information_path, method: :patch do |f| %>
    <h5 class ="form-group font-weight-bold text-center">編集</h5>
    <div class="form-group">
      <p class="text-dark mb-0 mt-4">ニックネーム</p>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <p class="text-dark mb-0">メールアドレス</p>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <p class="text-dark mb-0">自己紹介</p>
      <%= f.text_area :introduction, class: "form-control" %>
    </div>

    <div class="form-group">
      <p class="text-dark mb-0">生年月日</p>
      <%= f.text_field :date_of_birth %>
    </div>

    <div class="form-group">
      <p class="text-dark mb-0">性別</p>
      <%= f.radio_button :sex, User.sexes.key(0) %>
    　<%= f.label :sex, User.sexes_i18n[:man] %>
    　<%= f.radio_button :sex, User.sexes.key(1) %>
    　<%= f.label :sex, User.sexes_i18n[:woman] %>
    　<%= f.radio_button :sex, User.sexes.key(2) %>
    　<%= f.label :sex, User.sexes_i18n[:other] %>
    </div>

    <div class="form-group text-center mb-0">
      <%= f.submit '新規登録' , class:"btn btn-primary btn-lg py-1" %>
    </div>
    <% end %>
    </div>
  </div>
</div>
