<div class="container px-5">
  <div class="row m-5">
    <div class="col-md-10 bg-white shadow rounded mx-auto py-3 px-5">
      <%= form_with model: @user, url: users_information_path, method: :patch do |f| %>
        <h5 class ="form-group font-weight-bold text-center">編集</h5>

        <div class="form-group">
          <p class="text-dark mb-0 mt-4">プロフィール画像</p>
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>

        <div class="form-group">
          <p class="text-dark mb-0 mt-4">ニックネーム</p>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <p class="text-dark mb-0">メールアドレス</p>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <p class="text-dark mb-0">自己紹介</p>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>

        <div class="form-group">
          <p class="text-dark mb-0">生年月日</p>
          <%= f.text_field :date_of_birth, class: "form-control" %>
        </div>

        <div class="form-group">
          <p class="text-dark mb-0">性別</p>
          <%= f.radio_button :sex, User.sexes.key(0) %>
    　     <%= f.label :sex, User.sexes_i18n[:man] %>
    　     <%= f.radio_button :sex, User.sexes.key(1) %>
    　     <%= f.label :sex, User.sexes_i18n[:woman] %>
    　     <%= f.radio_button :sex, User.sexes.key(2) %>
    　     <%= f.label :sex, User.sexes_i18n[:other] %>
        </div>

        <div class="row mx-auto mb-3">
          <div class="col-3 mx-auto">
            <%= f.submit '変更を保存', class:"btn btn-primary" %>
          </div>
          <div class="col-3 mx-auto">
            <%= link_to "退会する", users_unsubscribe_path, class:"btn btn-danger text-white" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>

  <div class="row my-5 px-5">
    <%= link_to :back, class: "text-primary" do %>
      <i class="fas fa-arrow-circle-left fa-2x" style="color: primary"></i>
    <% end %>
  </div>
</div>
