<div class="container px-5">
  <div class="row my-5">
    <div class="col-md-10 mt-5 mx-auto">
      <h3 class="font-weight-bold text-center"><%= @user.name %>のいいね一覧</h3>
    </div>

    <% @favorite_posts.each do |pos| %>
      <div class="row my-5 mx-auto">
        <div class="col-md-12 bg-white shadow rounded mx-auto py-3 px-3">
          <div class="row">
            <div class="col-md-5 my-auto text-center">
              <%= link_to post_path(pos.id) do %>
                <% if pos.image.present? %>
                  <%= image_tag pos.image, class: "post_image" %>
                <% else %>
                  <%= image_tag 'no_travel_image', class: "post_image" %>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-7 px-0">
              <div class="row mt-3">
                <%= link_to post_path(pos.id) do %>
                  <h5 class="font-weight-bold text-primary ml-4"><%= pos.title %></h5>
                <% end %>
              </div>
              <div class="row my-1">
                <%= link_to user_path(pos.user.id), class: "px-0" do %>
                  <% if pos.user.profile_image.present? %>
        　　          <%= image_tag pos.user.profile_image, class: "rounded-circle border", size: "30x30" %>
        　　        <% else %>
        　　          <%= image_tag 'no-image.jpg', class: "rounded-circle border", size: "30x30" %>
        　　        <% end %>
                <% end %>
                <p class="font-weight-bold my-auto"><%= pos.user.name %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row my-5 px-5">
    <%= link_to :back, class: "text-primary" do %>
      <i class="fas fa-arrow-circle-left fa-2x" style="color: primary"></i>
    <% end %>
  </div>
</div>