<div class="container px-5">
  <div class="row m-5">
    <div class="col-md-10 bg-white shadow rounded mx-auto py-3 px-5">
      <div class="row">
        <%= image_tag @user.profile_image, class: "rounded-circle border mr-5", size: "70x70" %>
        <p class="font-weight-bold mx-4 mt-3"><%= @user.name %></p>
        <p class="font-weight-bold mx-4 mt-3"><%= User.sexes_i18n[@user.sex] %></p>
        <p class="font-weight-bold mx-4 mt-3"><%= @user.birth_display %></p>
        <% if @user.id == current_user.id %>
          <%= link_to '編集', users_information_edit_path, class: "btn border-primary rounded btn-white ml-auto text-primary my-3" %>
        <% end %>
      </div>
      <div class="row my-3">
        <p><%= @user.introduction %></p>
      </div>

      <div class="row">
        <%= link_to 'フォロー一覧', follows_path, class: "btn border-primary rounded btn-white mr-auto text-primary" %>
      </div>
    </div>
    <div class="col-md-10 mt-5 mx-auto">
      <h3 class="font-weight-bold text-center">投稿一覧</h3>
      <div class="row">
        <% @posts.each do |pos| %>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 my-auto">
          <%= link_to post_path(pos.id) do %>
          <% if pos.image.present? %>
          <%= image_tag pos.image, size: "120x66" %>
          <% else %>
          <%= image_tag 'no_travel_image', size: "120x66" %>
          <% end %>
          <% end %>
          </div>
        <div class="col-md-6">
          <%= link_to post_path(pos.id) do %>
          <p class="font-weight-bold mt-3 text-dark"><%= pos.title %></p>
          <% end %>
          <p class="mt-3"><%= pos.date_display %></p>
        </div>
        </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>