<!DOCTYPE html>
<html>
  <head>
    <title>TRARECO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-primary p-1 shadow mr-0">
        <div class="container">
          <a class="navbar-brand mr-auto border border-light ml-2 my-2 p-2" href="/">
              <div class="text-light">
                TRA<i class="far fa-map text-light px-1"></i>RECO
              </div>
          </a>
          <ul class="navbar-nav mr-auto ">
    <% if admin_signed_in? %>

    <% elsif user_signed_in? %>
    <li class="nav-item ml-4 mr-2">
        <%= link_to about_path, class:"nav-link button text-white" do %>
          TRARECOとは？
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to new_post_path, class:"nav-link button text-white" do %>
          旅登録
        <% end %>
    </li>
    <% else %>
    <li class="nav-item mx-4">
        <%= link_to about_path, class:"nav-link button text-white" do %>
          TRARECOとは？
        <% end %>
    </li>
    <% end %>

    </ul>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto ">
    <% if admin_signed_in? %>

    <% elsif user_signed_in? %>
    <li class="nav-item border border-white rounded mx-2">
        <%= link_to destroy_user_session_path, method: :delete, class:"nav-link button text-white" do %>
          ログアウト
        <% end %>
    </li>
    <li class="nav-item bg-white border border-white rounded mx-2">
        <%= link_to user_path(current_user.id), class:"nav-link button text-primary" do %>
          マイページ
        <% end %>
    </li>
    <% else %>
    <li class="nav-item bg-white border border-white rounded mx-2">
        <%= link_to new_user_session_path, class:"nav-link button text-primary" do %>
          ログイン
        <% end %>
    </li>
    <li class="nav-item border border-white rounded mx-2">
        <%= link_to new_user_registration_path, class:"nav-link button text-white" do %>
          新規登録
        <% end %>
    </li>
    <% end %>

    </ul>
    </div>
        </div>
      </nav>

    </header>
    <%= yield %>
    <footer class="border-top border-dark bg-primary mt-5">
      <div class="container">
        <div class="row">
          <div class="mx-auto my-2">
            <h5 class="text-white">TRARECO</h2>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
