<div class="container px-5">
  <div class="row m-5">
    <div class="col-md-10 bg-white shadow rounded mx-auto py-3 px-5">
      <%= form_with model: @post_detail, url: admin_post_post_detail_path(@post_detail.post.id,@post_detail.id), method: :patch do |f| %>
        <h5 class ="form-group font-weight-bold text-center">旅ルート編集</h5>
        <div class="form-group mb-0">
          <p class="text-dark mb-0 mt-2">旅画像</p>
          <%= f.file_field :image, accept: "image/*", class: "mr-auto" %>
        </div>
        <div class="form-group mb-0">
          <p class="text-dark mb-0 mt-2">スポット名</p>
          <%= f.text_field :spot_name, class: "form-control" %>
        </div>
        <div class="form-group mb-0">
          <p class="text-dark mb-0 mt-2">時間</p>
          <%= f.datetime_field :visit_time %>
        </div>
        <div class="form-group">
          <p class="text-dark mb-0 mt-2">ヒトコト　感想</p>
          <%= f.text_area :impre, class: "form-control" %>
        </div>
        <div class="row mx-auto mb-5 mt-4">
        <div class="col-3 ml-auto mr-5 text-right">
          <%= f.submit "変更を保存", class:"btn btn-success mx-auto" %>
        </div>
        <div class="col-3 ml-5 mr-auto text-left">
          <%= link_to "削除", post_post_detail_path(@post_detail.post.id,@post_detail.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger mx-auto" %>
        </div>
      </div>
  　　　　<% end %>
      </div>
    </div>
  </div>